.gender-container {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

mat-radio-button {
    margin-left: 1rem;
    margin-right: 1rem;
}

.form-array-button {
    margin-top: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 15px;
    padding-right: 15px;
}