<div class="header">
    <h2>Edit User</h2>
</div>
<div>
    <form [formGroup]="formGroup" (ngSubmit)="editUser()">
        <div class="form-fields-container">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email" />
                <mat-error *ngIf="formGroup.get('email')?.hasError('required')">Required</mat-error>
                <mat-error *ngIf="formGroup.get('email')?.hasError('email')">Invalid Email Format</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formGroup.get('password')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Name (English)</mat-label>
                <input type="text" matInput formControlName="englishName" />
                <mat-error *ngIf="formGroup.get('englishName')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Name (Arabic)</mat-label>
                <input type="text" matInput formControlName="arabicName" />
                <mat-error *ngIf="formGroup.get('arabicName')?.hasError('required')">Required</mat-error>
                <mat-error *ngIf="formGroup.get('arabicName')?.errors?.arabic">Only arabic characters are
                    allowed</mat-error>
            </mat-form-field>

            <div
                style="margin-left: 1rem; margin-right: 1rem; margin-top: 10px; padding-left: 15px; padding-right: 15px;">
                <mat-label>Gender: </mat-label>
                <mat-radio-group formControlName="gender">
                    <mat-radio-button value="Male" style="margin-left: 1rem;">Male </mat-radio-button>
                    <mat-radio-button value="Female" style="margin-left: 1rem;"> Female</mat-radio-button>
                </mat-radio-group>
            </div>

            <div
                style="margin-top: 10px; margin-left: 1rem; margin-right: 1rem; padding-left: 15px; padding-right: 15px;">
                <button mat-button color="primary" type="button" (click)="addCountry()">Add Country</button>
                <mat-error *ngIf="formGroup.get('country').hasError('required') ">Required</mat-error>
                <div formArrayName="country">
                    <div *ngFor="let c of country.controls; let i = index">
                        <mat-select [formControlName]="i" placeholder="Country">
                            <mat-option *ngFor="let n of this.countriesList" [value]="n">{{n}}</mat-option>
                        </mat-select>
                        <button mat-button color="primary" type="button" (click)="removeCountry(i)">Remove
                            Country</button>
                    </div>
                </div>
            </div>

            <div class="button-container">
                <button mat-raised-button color="primary" type="button">Edit User</button>
            </div>
        </div>
    </form>
</div>