<div>
    <div class="header">
        <h2>{{ 'register' | translate }}</h2>
    </div>
    <div>
        <form [formGroup]="formGroup" (ngSubmit)="registerUser()">
            <div class="form-fields-container">
                <mat-form-field>
                    <mat-label>{{ 'email' | translate }}</mat-label>
                    <input type="text" matInput formControlName="email" />
                    <mat-error *ngIf="formGroup.get('email')?.hasError('required')">
                        {{ 'required' | translate }}</mat-error>
                    <mat-error *ngIf="formGroup.get('email')?.hasError('email')">
                        {{ 'email.error' | translate }}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{ 'password' | translate }}</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="formGroup.get('password')?.hasError('required')">
                        {{ 'required' | translate }}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{ 'name.english' | translate }}</mat-label>
                    <input type="text" matInput formControlName="englishName" />
                    <mat-error *ngIf="formGroup.get('englishName')?.hasError('required')">
                        {{ 'required' | translate }}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{ 'name.arabic' | translate }}</mat-label>
                    <input type="text" matInput formControlName="arabicName" />
                    <mat-error *ngIf="formGroup.get('arabicName')?.hasError('required')">
                        {{ 'required' | translate }}</mat-error>
                    <mat-error *ngIf="formGroup.get('arabicName')?.errors?.arabic">
                        {{ 'name.arabic.error' | translate }}</mat-error>
                </mat-form-field>

                <div class="gender-container">
                    <mat-label>{{ 'gender' | translate }}: </mat-label>
                    <mat-radio-group formControlName="gender">
                        <mat-radio-button value="Male">{{ 'Male' | translate }}</mat-radio-button>
                        <mat-radio-button value="Female">{{ 'Female' | translate }}</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div>
                    <button mat-button color="primary" type="button" (click)="addCountry()" class="form-array-button">
                        {{ 'country.add' | translate }}</button>
                    <div formArrayName="country">
                        <div *ngFor="let group of country.controls; let i = index;">
                            <div [formGroupName]="i">
                                <mat-form-field>
                                    <mat-select formControlName="countryControl" (valueChange)="resetState(i)"
                                        placeholder="Select Country">
                                        <mat-option *ngFor="let countryStates of countriesStatesMap | keyvalue"
                                            [value]="countryStates.key">{{ countryStates.key | translate }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select formControlName="stateControl" placeholder="Select City">
                                        <mat-option
                                            *ngFor="let state of countriesStatesMap[group.get('countryControl')?.value]"
                                            [value]="state">{{ state | translate}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <button mat-button color="primary" type="button" (click)="removeCountry(i)">
                                    {{ 'country.remove' | translate }}</button>
                            </div>
                        </div>
                    </div>
                    <mat-error
                        *ngIf="(formGroup.get('country').hasError('required') && formSubmitted) || (formGroup.get('country').hasError('required') && addedCountry)"
                        class="matError">{{ 'required' | translate }}</mat-error>
                    <mat-error
                        *ngIf="(formGroup.get('country')?.hasError('uniqueCountries') && formSubmitted) || (formGroup.get('country')?.hasError('uniqueCountries') && addedCountry)"
                        class="matError">{{ 'country.unique' | translate }}</mat-error>
                </div>

                <div class="button-container">
                    <button mat-raised-button color="primary" type="submit">{{ 'register' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="button-container">
        <button mat-raised-button color="primary" type="button" (click)="back()">{{ 'back' | translate }}</button>
    </div>
</div>