<h1 class="header">{{ 'adminApp' | translate }}</h1>
<p>(username in header after login), canDeactivate, countries unique</p>
<div id="languageSelectorDiv" style="margin-right: 1rem; margin-left: 1rem;">
    <mat-select (valueChange)="selectLanguage($event)" style="width: 150px;" placeholder="{{ 'language.select' |
            translate }}">
        <mat-option value="en-US">{{ "language.english" | translate }}</mat-option>
        <mat-option value="ar-LB">{{ "language.arabic" | translate }}</mat-option>
    </mat-select>
</div>