<div>
    <!-- name in header, arabic labels, validation on cities -->
    <div class="header">
        <h2>{{ 'dashboard' | translate }}</h2>
    </div>
    <div class="table-container">
        <table class="usersTable">
            <thead>
                <th></th>
                <th *ngFor="let column of columns">{{ column | translate }}</th>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" data="user.id">
                    <td> <button mat-button color="primary" type="button" (click)="editUser(user.id)">
                            {{ 'edit' | translate }}</button></td>
                    <td>{{user.id}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.englishName}}</td>
                    <td>{{user.arabicName}}</td>
                    <td>{{ user.gender | translate }}</td>
                    <td>{{userCountries(user.country)}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="button-container">
        <button mat-raised-button color="primary" type="button" (click)="back()">{{ 'logout' | translate }}</button>
    </div>
</div>